@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bg-primary {
        background-color: #F07209;
    }
    .bg-primary-light {
        background-color: #ad6e55;
    }

    .text-primary {
        color: #F07209;
    }

    .bg-secondary{
        background-color: #F4DC59;
    }
    .bg-secondary-light{
        background-color: #a84148;
    }

    .text-secondary{
        color: #F4DC59;
    }

    .bg-primary-gray{
        background-color: #D9D9D9;
    }

    .bg-secondary-gray{
        background-color: #9a9a9a;
    }
    .bg-thirth-gray{
        background-color: #cccccc;
    }
}

*::-webkit-scrollbar {
	width: 3px;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: #cccccc;
	border-radius: 2px;
}

*::-webkit-scrollbar-thumb:horizontal {
	background: #cccccc;
	border-radius: 2px;
}

 @layer components{
    .input{
        @apply h-8 bg-transparent border placeholder:text-gray-400 border-gray3 text-gray-700 text-sm rounded-[5px] focus:ring-gray2 focus:border-gray2 block w-full p-2.5 disabled:bg-gray4 disabled:text-gray2 disabled:cursor-not-allowed;
    }

    .textarea{
        @apply bg-transparent placeholder:text-gray-400 border border-gray3 text-gray-700 text-sm rounded-[5px] focus:ring-gray2 focus:border-gray2 block w-full p-2.5;
    }

    .label{
        @apply block mb-2 text-sm font-medium;
    }  

    .globe-container {
        @apply max-w-7xl mx-auto lg:px-2 grid md:grid-cols-2 lg:grid-cols-3 gap-3 my-3 xs:text-sm md:text-base;
    }
    
    .globe {
        @apply bg-transparent border border-gray3 overflow-auto rounded-[5px] w-[90%] md:w-full md:mx-2 mx-auto px-5 py-5 pt-1;
    }
    
    .globe-title {
        @apply font-bold text-center flex justify-center items-center py-4;
    }
    
    .select {
        @apply bg-transparent h-9 text-sm w-5/6 rounded-[5px] border border-gray3 text-gray-500 focus:border-stone-500 focus:text-stone-500 disabled:cursor-not-allowed disabled:bg-gray4;
    }

    .hover-3dbuttom{
        @apply hover:shadow-md transition ease-in-out duration-300 hover:-translate-y-2;
    }
    
}
