@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bg-primary {
        background-color: #BF532A;
    }
    .bg-primary-light {
        background-color: #ad6e55;
    }

    .text-primary {
        color: #BF532A;
    }

    .bg-secondary{
        background-color: #883339;
    }
    .bg-secondary-light{
        background-color: #a84148;
    }

    .text-secondary{
        color: #883339;
    }

    .bg-primary-gray{
        background-color: #D9D9D9;
    }

    .bg-secondary-gray{
        background-color: #9a9a9a;
    }
    .bg-thirt-gray{
        background-color: #cccccc;
    }
}

*::-webkit-scrollbar {
	width: 3px;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: #9a9a9a;
	border-radius: 2px;
}

*::-webkit-scrollbar-thumb:horizontal {
	background: #9a9a9a;
	border-radius: 2px;
}

 @layer components{
    .input{
        @apply h-8 bg-[#CCCCCC] border placeholder:text-gray-400 border-transparent text-gray-700 text-sm rounded-lg focus:ring-[#883339] focus:border-[#883339] block w-full p-2.5;
    }

    .textarea{
        @apply bg-[#CCCCCC] placeholder:text-gray-400 border border-transparent text-gray-700 text-sm rounded-lg focus:ring-[#883339] focus:border-[#883339] block w-full p-2.5;
    }

    .label{
        @apply block mb-2 text-sm font-medium text-gray-600;
    }  

    .globe-container {
        @apply max-w-7xl mx-auto lg:px-2 grid md:grid-cols-2 lg:grid-cols-3 gap-3 my-3 xs:text-sm md:text-base;
    }
    
    .globe {
        @apply bg-primary-gray text-gray-600 overflow-auto rounded-lg w-[90%] md:w-full md:mx-2 mx-auto px-3 pb-3 pt-1;
    }
    
    .globe-title {
        @apply font-bold text-center flex justify-center items-center pb-2;
    }
    
    .select {
        @apply w-5/6 rounded-lg border border-gray-400 text-gray-500 focus:border-stone-500 focus:text-stone-500;
    }
    
}
